POSTGRES_AIRF_USER=airflow
POSTGRES_AIRF_PASSWORD=CHANGE_ME
POSTGRES_AIRF_DB=airflow
POSTGRES_WTH_USER=weather
POSTGRES_WTH_PASSWORD=CHANGE_ME
POSTGRES_WTH_DB=weather
AIRFLOW_JWT_SECRET=CHANGE_ME
AIRFLOW_UID=50000
DOCKER_GID=0
