POSTGRES_AIRF_USER=airflow
POSTGRES_AIRF_PASSWORD=CHANGE_ME
POSTGRES_AIRF_DB=airflow
POSTGRES_WTH_USER=weather
POSTGRES_WTH_PASSWORD=CHANGE_ME
POSTGRES_WTH_DB=weather
AIRFLOW_JWT_SECRET=CHANGE_ME
AIRFLOW_UID=50000
DOCKER_GID=0

# --- MLflow (serveur partage DagsHub) ---
MLFLOW_TRACKING_URI=https://dagshub.com/Benoth08/may26_mlops_meteo.mlflow
MLFLOW_TRACKING_USERNAME=CHANGE_ME
MLFLOW_TRACKING_PASSWORD=CHANGE_ME
