# --- Section Airflow : Postgres, Airflow, UI Airflow
POSTGRES_AIRF_USER=airflow
POSTGRES_AIRF_PASSWORD=CHANGE_ME
POSTGRES_AIRF_DB=airflow
AIRFLOW_JWT_SECRET=CHANGE_ME
AIRFLOW_UID=50000
DOCKER_GID=0

_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=CHANGE_ME														  	  


# --- Postgres pour données météo ---
POSTGRES_WTH_USER=weather
POSTGRES_WTH_PASSWORD=CHANGE_ME
POSTGRES_WTH_DB=weather					   
POSTGRES_WTH_HOST=weather-postgres
POSTGRES_WTH_PORT=5432


# --- Auth API ---
API_AUTH_USERNAME=CHANGE_ME
API_AUTH_PASSWORD_HASH=CHANGE_ME


# --- MLflow (serveur partage DagsHub) ---
MLFLOW_TRACKING_URI=https://dagshub.com/Benoth08/may26_mlops_meteo.mlflow
MLFLOW_TRACKING_USERNAME=CHANGE_ME
MLFLOW_TRACKING_PASSWORD=CHANGE_ME
