{
  "MLFLOW_TRACKING_URI": "https://dagshub.com/Benoth08/may26_mlops_meteo.mlflow",
  "MLFLOW_TRACKING_USERNAME": "",
  "MLFLOW_TRACKING_PASSWORD": "",
  "WEATHER_POSTGRES_CONN_ID": "weather_postgres",
  "WEATHER_RAW_PRODUCER_CONFIG":
    {
      "batch_size":500,
      "max_batches":5,
      "delay":5,
      "start_batch":1
    }
}
